{% extends 'base.html.twig' %}

{% block title %}Nouvel adhérent{% endblock %}

{% block body %}
    <h1>Créer une nouvelle fiche adhérent</h1>

    {{ include('member/_form.html.twig') }}
	<br><br>
    <a href="{{ path('member_index') }}">Retour à la liste</a>
{% endblock %}
