html, body{
	margin: 0;
	padding: 0;
}

.message-flash{
	padding: 1em;
	text-align: center;
	font-weight: bold;
}

.label-warning{
	color: orange;
}

.label-success{
	color: green;
}

.label-notice{
	color: navy;
}

.main-body{
	margin: auto;
	width: 95%;
}

h1{
	font-size: 1.8em;
}

label{
	margin-right: 1em;
}

.main-body button.btn{
	background: lightgray;
}
.main-body button.btn:hover{
	background: rgb(210, 210, 210);
}

.flash-warning{
	color: orange;
}
.flash-success{
	color: green;
}
.flash-notice{
	font-style: italic;
}
.flash-error{
	color: red;
}
form label{
	min-width: 20%;
}

#main-login-container{
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
}
.login-container{
	width: 75%;
	padding: 1% 5%;
	max-width: 500px;
}
.login-container:last-of-type:not(:first-of-type){
	border-left: 1px solid navy;
}
.login-container h3{
	margin-bottom: 1.1em;
}
.login-container .form-control, .login-container button{
	max-width: 300px;
	margin-bottom: .8em;
}
.login-container button{
	font-size: .9em;
	font-weight: bold;
	color: white;
	margin-top: .5em;
	border: none;
}
#member-login button{
	background: #007bff;
}
#staff-login button{
	background: #6c757d;
}
#member-login h3{
	color: #007bff;
}
#staff-login h3{
	color: #6c757d;
}
body.staff_login .main-body, body.member_login .main-body{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.user-profile.username{
	font-weight: bold;
}
.user-profile.role{
	font-size: .9rem;
}