{% extends 'base.html.twig' %}

{% block title %}New StockableMedia{% endblock %}

{% block body %}
    <h1>Create new StockableMedia</h1>

    {{ include('stockable_media/_form.html.twig') }}

    <a href="{{ path('stockable_media_index') }}">back to list</a>
{% endblock %}
