<form method="post" action="{{ path('staff_delete', {'id': staff.id}) }}"
	onsubmit="return confirm('Êtes-vous sûr(e) de vouloir définitivement supprimer ce collaborateur ? \nCette action est irréversible !');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ staff.id) }}">
    <button class="btn">Supprimer définitivement de la base</button>
</form>
